.subscribe {
  background: url("../../../src/assets/bestChef.jpg");
  height: 90vh;
  margin: 20px;
  border-radius: 8px;
}

.overlay {
  width: 60%;
  height: 90vh;
  background-color: rgba(241, 234, 229, 0.794);
}

.blank {
  height: 90vh;
  width: 40%;
}

@media only screen and (max-width: 576px) {
  .overlay {
    font-size: 12px;
    width: 100%;
  }
  .blank {
    display: none;
  }
}
